body{
 background-color: rgb(19, 36, 22);
 font-family: 'Conv_MYRIADPRO-REGULAR';
}

input{
    &:focus{
        outline: none;
    }
}

.gradientBg{
    background: rgb(80,125,160);
    background: linear-gradient(180deg, #507da0 0%, #0D151B 100%);
}

@font-face {
	font-family: 'Conv_MYRIADPRO-REGULAR';
	src: url('../assets/fonts/MYRIADPRO-REGULAR.eot');
	src:  url('../assets/fonts/MYRIADPRO-REGULAR.ttf') format('truetype'), url('../assets/fonts/MYRIADPRO-REGULAR.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.firsSection{
    height: 100vh;
    position: relative;
    .Knight1{
        max-width: 19vw;
        top: 6vw;
        left: 3vw;
        position: absolute;
    }
    .Knight2{
        position: absolute;
        max-width: 17vw;
        top: -3vw;
        right: 7vw;

    }
    .scrollDownArr{
        padding-top: 2vw;
        text-align: center;

    }
    .scrollDown{
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, -50%);
        img{
            cursor: pointer;
        }
    }

}



.loginForm{
    margin: auto;
    max-width: 759px;
    margin-top: 8vw;
    position: relative;
    z-index: 2;
    .cormContainer{
        max-width: 414px;
        margin:auto;
        form{
            background-color: #008896;
            border-radius: 6px;
            display: flex;
            padding: 16px 26px;
            align-items: center;
            input{
                background: none;
                border: none;
                color: #fff;
                font-size: 16px;
                padding: 10px 0;
                width: 230px;

                &.password{
                    border-top: 2px solid #7ABDC4;
                }
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    color: #fff;
                    font-size: 16px;
                   
                }
            }
            button{
                width: 136px;
                height: 36px;
                border-radius: 10px;
                background: #7ABDC4;
                border:none;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
                transition: 0.3s;
                &:hover{
                    box-shadow: 1px 2px 6px 1px #3a686d;
                }
                &:focus{
                    outline: none;
                }
            }
            > div{
                display: flex;
                flex-direction: column;

            }
          
        }
        .resetPassLink{
            color: #C6C6C6;
            margin-top: 8px;
            a{
color: #fff;
text-decoration: none;
            }
        }
    }
    h1{
        font-size: 200px;
        text-align: center;
        margin-bottom: 30px;
        color: #fff;
        margin-top: 0px;
    }
}


.secondSection{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        max-width: 1240px;
        margin:auto;
        display: flex;
        align-items: center;
        width: 100%;
        .left{
            max-width: 500px;
            width: 100%;
        }
        .rightSection{
            display: flex;
            justify-content: space-around;
            width: 100%;
            img{
                // margin: 0 30px;
            }
        }
        .appLinks{
            margin-top: 60px;
            img{
                margin-right: 10px;
            }
        }
        a{
            color: #5EA1A7;
            font-size: 14px;
        }
        h3{
            color: #fff;
            margin-bottom: 20px;
            font-size: 52px;
            margin-top: 0px;
        }
        p{
            font-size: 18px;
            color: #959595;
            margin-bottom: 15px;
        }
    }
}

.thirdSection{
    margin-top: 10vw;
    padding-bottom: 5vw;

    .middle{
        img{
            max-width: 232px;
        }
    }
   .container{
       max-width: 1140px;
       width: 100%;
       display: flex;
       margin:auto;
       justify-content: space-between;
       align-items: center;
       text-align: center;

       h3{
           font-size: 35px;
           color: #fff;
       }
       p{
           color: #fff;
           font-size: 16px;
           margin-bottom: 40px;
           max-width: 240px;
           width: 100%;
           text-align: justify;
           
       }
   }
}

.fourthSection{
    background: #000;
    padding-top: 130px;
    padding-bottom: 13vw;

    .container{
        max-width: 1140px;
        margin:auto;
        display: flex;
        .left{
            max-width: 500px;
            width: 100%;
        }
        .right{
            img{
                max-width: 700px;
            }
        }

        h3{
            color: #fff;
            font-size: 42px;
            margin-top: 130px;
            margin-bottom: 5px;
        }
        p{
            font-size: 19px;
            color: #fff;
            margin-top: 4px;
        }


    }
}

footer{
background: #000;
    .container{
        max-width: 1140px ;
        margin:auto;
        display: flex;
        justify-content: space-between;


&.first{
    padding: 50px 20px;
    border-bottom: 1px solid #707070;
}


.socialLinks{
    display: flex;
    margin-top: 44px;
    span{
        color: #fff;
        font-size: 16px;
        margin-right: 25px;
    }
    img{
        margin-left: 12px;
    }
}
        label{
            color: #AEB0B5;
            display: inline-block;
            padding-bottom: 10px;
        }

        form >div{
            height: 44px;
            display: flex;
            align-content: center;

            border: 1px solid #373737;
             input{
                 background: transparent;
                 border:unset;
                 padding-left: 15px;
                 columns: #AEB0B5;
                 width: 300px;
             }

             button{
                 background: transparent;
                 border:none;
                 color: #fff;
                 padding-right: 14px;
             }
        }


        ul{
            padding-top: 30px;
            padding-left: 0px;
            list-style: none;
            margin-right: 60px;
            li.title{
                color: #AEB0B5;
                margin-bottom: 20px;
            }

            li{ 
                margin-bottom: 6px;

                &.grey{
                    color:#AEB0B5 ;
                }
            
            a{
                font-size: 14px;
                color: #fff;
                text-decoration: none;
            }

        }
        }
        .leftSection{
            display: flex;
        }


        .rightSection{
            display: flex;
        }
        .copyright{
            text-align: right;
            color: #AEB0B5;
            margin-top: 50px;
            width: 100%;
            padding-bottom: 30px;
        }
     
    }
    
}

.container{
    padding: 0 20px;
    box-sizing: border-box;
}

.text-center{
    text-align: center;
}

.font-wight{
    color: #fff;
}



.withdraw{
    background: linear-gradient(180deg, #071526 0%, #2E4355 100%);
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
    .content{
        position: relative;
        z-index: 3
    }
    .copyright{
        position: absolute;
        color: #fff;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%)
    }
    .Knight1{
        max-width: 19vw;
        top: 6vw;
        left: 3vw;
        position: absolute;
    }
    .Knight2{
        position: absolute;
        max-width: 17vw;
        top: -3vw;
        right: 7vw;

    }
    h1{
    font-size: 130px;
    color: #fff;
    padding-top: 50px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 20px;
    }
    .head{
        max-width: 1400px;
        width: 100%;
        padding: 0  20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    box-sizing: border-box;

    span{
        color: #fff;
        font-size: 23px;

    }
    button{
        background: transparent;
        border: none;
       font-size: 23px;
        color: #fff;
        cursor: pointer;
    }
    }

    .container{
        display: flex;
        max-width: 1240px;
        margin: auto;
        margin-top: 3vw;
        padding: 0 20px;
        justify-content: space-between;
        .left{
  max-width: 320px;
    h3{
        font-size: 38px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 26px;
        font-weight: normal;
    }
    button{
        margin-top: 110px;
    }
        }

        .right{
            max-width: 600px;
    width: 100%;
    text-align: center;
    margin-top: 110px;
    input{
        margin-bottom: 16px;
    }
    button{
        margin-top: 43px;
    }
        }

        input{
            width: 100%;
            background: rgba(229, 229, 229, 0.25);
            border-radius: 10px;
            border:none;
            color: #fff;
            height: 35px;
            padding: 0 10px;
            box-sizing: border-box;
        }
        button{
            color: #fff;
            border: 2px solid #fff;
            border-radius: 5px;
            background: transparent;
            width: 320px;
            height: 100px;
            font-size: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin:auto;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                box-shadow: 5px 4px 5px 4px #081627;
            }
        }
    }


}


@media only screen and (max-width: 1040px) {
    // body {
    //   background-color: lightblue;
    // }
    .firsSection .Knight1{
        top: 14vw;
    }
    .firsSection .Knight2 {
        top: 5vw;
    }

    .fourthSection .container .right img {
        max-width: 55vw;
    }
    .secondSection .container .rightSection img{
        max-width: 10vw;
    }

    .thirdSection .container .middle img{
        max-width: 28vw;
margin-left: 10px;
margin-right: 10px;
display: inline-block;
    }

    .withdraw { 
        h1{
            font-size: 64px;
        }
    
    .container{
        flex-direction: column;
        align-items: center;
       
        button{
            height: 60px;
            font-size: 26px;
        }
        .left{
            button{
                margin-top: 30px;
            }
        }
        .right{
               margin-top: 50px;
               button{
                margin-top: 30px;
            }
        }
    }

}

  }


@media only screen and (max-width: 840px) {
.loginForm h1{
   font-size: 15vw;
}
.loginForm .cormContainer{
    padding: 0 15px;
    form input{
        width: 185px;
    }
}

.d-sm-none{
display: none;
}
.loginForm{
    margin-top: 20vw;
}

.secondSection .container{
 .rightSection{
    flex-direction: column;
    align-items: center;
    img{
        max-width: 15vw;
        margin-bottom: 10px;
    }
}
.appLinks {
    margin-top: 27px;
}

}

.thirdSection .container{
    flex-direction: column;
    padding-top: 10vw;
    padding-bottom: 15vw;
     h3 {
        font-size: 25px;
     }
}

.fourthSection{
  padding-top: 20vw;
  .container{
    flex-direction: column;
text-align: center;
.left{
    max-width: unset;
}
h3{
    margin-top: 0px;
    font-size: 32px !important;
}
  }
  
}

footer .container{
    flex-direction: column;
    ul{
        width: 50%;
        text-align: center;
    }
    .copyright{
        text-align: center;
    }
    .socialLinks{
        align-items: center;
        justify-content: center;
    }
    form > div input{
        width: 100%;
    }
}



}




#cta{
    width:100%; cursor: pointer; position: absolute;
}

#cta .arrow{left: 6%; top: 4px;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.segunda{margin-left: 8px;}
.next {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
}